{% extends "base.html" %}

{% block content %}
<h1>Ваш заказ</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    {% for key in d.keys() %}
        {% if d[key] != 0 %}
            {% for item in food %}
                {% if item.id == key %}
                    <p>{{item.name}} - {{d[key]}}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}